.header {
    background: #ffffff;
}
.header-svg {
    text-align: center;
    align-items: center;
    margin-top: 187px
}

.header-svg img {
    margin-left: 50px;  
}

.header-svg h2 {
    font-family:'Inter', sans-serif ;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    color: #000000;
   
}
@media screen and (max-width:540px) {
    .header-svg h2 {
        width: 400px;
        height: 70px;
        font-size: 60px;
        margin-left: 75px;
        
       
    }
    .header-svg img {
        width: 340px;
        height: 50px;
        
        
       
    }
       
}
@media screen and (max-width:414px) {
    .header-svg h2 {
        width: 400px;
        height: 70px;
        font-size: 60px;
        margin-left: 30px;
  
    }
    .header-svg img {
        margin-left: 30px;
  
    }
  
       
}


